openapi: 3.0.3
info:
  title: StarWars Explorer API (Gateway)
  version: 1.0.0

security:
  - api_key: []

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: x-api-key

paths:
  /health:
    $ref: "./src/openapi.yaml#/paths/~1health"
  /films:
    $ref: "./src/openapi.yaml#/paths/~1films"
  /people:
    $ref: "./src/openapi.yaml#/paths/~1people"
  /planets:
    $ref: "./src/openapi.yaml#/paths/~1planets"
  /starships:
    $ref: "./src/openapi.yaml#/paths/~1starships"
  /films/{id}/characters:
    $ref: "./src/openapi.yaml#/paths/~1films~1{id}~1characters"
  /planets/{id}/residents:
    $ref: "./src/openapi.yaml#/paths/~1planets~1{id}~1residents"
